.card-signin {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  text-align: center;
  width: 300px;
  background-color: transparent !important;
  position: relative;
}

.heading-signin {
  background-color: transparent;
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}
.button-container-signin {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  background-color: transparent;
}

.back2-signin {
  background-image: url("https://images.pexels.com/photos/3075993/pexels-photo-3075993.jpeg?cs=srgb&dl=pexels-sanaan-3075993.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container-signin {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  background-color: transparent;
}

.MuiButton-root.button-signin {
  color: black;
  background-color: rgba(0, 255, 255, 0.5);
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.button-signin:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: deepskyblue;
  color: darkblue;
}

.close-icon-signin {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.close-icon-signin:hover {
  transform: scale(1.2);
  color: red;
}

.card2-signin {
  position: relative;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  text-align: center;
}
.form-container-signin {
  text-align: center;
  margin-top: 0px;
}

/* Style the input fields */
.form-input-signin {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 275px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.form-button-signin {
  color: black;
  background-color: rgba(0, 255, 255, 0.5);
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5vh;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.form-button-signin:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: deepskyblue;
  color: darkblue;
}

.error-message-signin {
  color: red;
  font-size: 14px;
}
